.layout{
  display: grid;
  margin-top: 50px;
  grid-template-columns: 4fr 6fr;
  margin-left: 120px;
  margin-right: 120px;
  gap: 20px;
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .layout{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px){
  .layout{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr;
    margin-left: 60px;
    margin-right: 60px;
    gap: 20px;
  }
}


.layout-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -38px;
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .layout-item{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
    grid-template-rows: 380px 380px 380px 380px 380px 380px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .layout-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0px;
    grid-template-rows: 350px 350px;
    gap: 10px;

  }
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 200px;
margin: auto;
text-align: center;
font-family: arial;
border-radius: 15px;
height: 300px;
}

.item-name{
  font-size: 17px;
  padding-top: 5px;
  margin-bottom: -1px;
}

.price {
padding-top: 5px;
color: black;
font-size: 15px;
}

.card button {
  margin-top: -10px;
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.card button:hover {
opacity: 0.9;
}

.layout2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 90px;
  grid-gap: 30px;
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .layout2{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 90px;
    grid-gap: 30px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .layout2{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 90px;
    grid-gap: 30px;
  }

}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .item{
    margin-left: 40px;
    margin-right: 40px;
  }

}


.layout3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 90px;
  grid-gap: 30px;
  margin-bottom: 90px;
}


@media screen and (min-width:320px) and  (max-width: 480px){
  .layout3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 30px;
    grid-gap: 30px;
    margin-bottom: 90px;
  }
  }

  @media screen and (min-width:481px) and  (max-width: 1024px ){
    .layout3{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 60px;
      margin-right: 60px;
      padding-top: 30px;
      grid-gap: 30px;
      margin-bottom: 90px;
    }
    }


  @media screen and (min-width:320px) and  (max-width: 480px){
    .section-heading{
      text-align: center;
      margin-top: -30px;
    }
    }

    @media screen and (min-width:481px) and  (max-width: 1024px ){
      .section-heading{
        text-align: center;
        margin-top: -30px;
      }
      }


.card-img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-img1{
  border-radius: 20px;
}
.button1{
  margin-left: 150px;
}
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.img1{
  border-radius: 2    0px;
}

.img2{
  border: #000 1px solid;
}

.acc-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
figcaption{
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}
.indexFooter{
  margin-bottom: -20px;
}
footer{
  margin-bottom: -25px;
}
.index-center{
  text-align: center;
}
.layout4{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 120px;
  margin-right: 120px;
  gap: 40px;
}
@media screen and (min-width:320px) and  (max-width: 480px){
  .layout4{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 50px;
    margin-right: 50px;
    gap: 40px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .layout4{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
    gap: 10px;
  }
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .layout-blog{
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .layout-blog{
    margin-left: 40px;
    margin-right: 60px;
  }
}

.top-index{
  margin-top: 90px;
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .top-index{
    margin-top: 90px;
    margin-bottom: -50px;
  }
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .layout-blog-2{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: -50px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .layout-blog-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: -50px;
  }
}

.name-product{
  padding-left: 30px;
  padding-right: 30px;
}
#top{
  margin-top: 80px;
}