.header-section{
    margin-top: 120px;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}
.addToCart{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: solid black 1px;
    padding: 20px;
}

.addToCart thead{
    font-size: 30px;
    font-weight: 600;
}

.addToCart tbody{
    font-size: 20px;
    font-weight: 500;
}

.addToCart tbody tr{
    padding-bottom: 100px;
}

.addToCart table{
    width: 100%;
    
}

.addToCart table tbody tr td:first-child{
    text-align: left;
}

.addToCart input{
    width: 30px;
}
.price-total{
    font-size: 25px;
}



.cartButton{
     margin-top: 120px
    ;}