* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation menu */
.navbar {
    border-bottom: #333 1px solid;
    background-color: white; /* white background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    height: 70px;
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Navigation links */
  .navbar a {
    /* float: left;  */
    padding: 10px;
    /* padding-left: 100px;
    padding-right: 0; */
    color: black;
    text-decoration: none;
    font-size: 30px;
    /* width: 20%; Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    display: block;
    text-align: center;
  }
  
  /* Add a background color on mouse-over */
  .navicon:hover {
    background-color: #ddd;
    color: black;
  }
  .navicon{
    margin-top: 10px;
  }

  @media screen and (min-width:320px) and  (max-width: 480px){
    .navicon{
      margin-left: -10px;
    }
  }
  
/* Create a center-aligned (split) link inside the navigation bar */
.navbar a.centered {
  float: none; 
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Create a left-aligned (split) link inside the navigation bar */
.navbar a{
  float: left;
}
/* Create a right-aligned (split) link inside the navigation bar */
.right {
  float: right;
  padding-right: 50px;
}

@media screen and (min-width:320px) and  (max-width: 480px){
  .right {
    float: right;
    padding-right: 0px;
  }
}

@media screen and (min-width:481px) and  (max-width: 1024px ){
  .title{
      padding: 10px 10px 5px 10px;
      font-size: 25px;
      color: black;
      text-align: center;
  }
}


  /* Style the current/active link */
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar {
      float: left;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

  /* The side navigation menu */
  /* .sidenav {
    font-family: "Lato", sans-serif;
  } */
  
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #333;  /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Place content 60px from the top */
    padding-top: 50px; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a, .dropdown-btn {
    margin: 20px;
    padding: 0px 20px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: -24px;
    right: -190px;
    font-size: 46px;
    margin-left: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 0;}
    .sidenav a {font-size: 18px;}
  }

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  display: block
}

/* Style the search box */
#mySearch {
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}