body{
}
.section-login{
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
}
.section-form{
  background-color: rgb(248, 244, 244);
  width: fit-content;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  padding: 20px;
}
.login-input{
  border:lightblue 0.5px solid;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  width: 300px;
  height: 45px;
}
.btn-login{
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #58d76b;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.log{
  text-align: center;
}

.logo-contact{
  list-style: none;
  display: inline-block;
  margin-bottom: -20px;
}
.fa{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 60px;
  width: 60px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: rgb(201, 24, 24);
  color: white;
}
.fa-item{
  margin-right: 5px;
}
.login-forgot{
  font-size: 15px;
  text-align: right;
  padding-bottom: 10px;
}
.creat{
  border-radius: 10px;
}
.login-hr{
  border: none;
  height: 1px;
  color: black;
  background-color: grey;
}
.layout-login{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 120px;
  margin-right: 110px;
}

.layout-login-item{
  overflow: hidden;
}

.layout-login-item:nth-child(2){
  grid-row: 1/3;
}
.img-login{
  margin-left: auto;
  margin-right: auto;
}
.login-or{
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}