.section-login{
  margin-top: 130px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 50px;
}
.section-form{
  border:black 0.5px outset;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  padding: 20px;
}
.login-input{
  border: 5px black 1px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
}
.btn-login{
  border: black solid 1px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.log{
  text-align: center;
}

.logo-contact{
  list-style: none;
  display: inline-block;
  margin-bottom: -20px;
}
.fa {
  padding: 15px;
  font-size: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: rgb(201, 24, 24);
  color: white;
}
.fa-item{
  margin-right: 5px;
}
.login-forgot{
  font-size: 15px;
  text-align: right;
  padding-bottom: 10px;
}
.creat{
  border-radius: 10px;
}
.login-hr{
  border: none;
  height: 1px;
  color: black;
  background-color: grey;
}
