#topProduct{
  margin-top: 150px;
}

.layout-product{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 30% 30% 30%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  gap: 60px;
}

img{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 25px;
}

.item-name{
  font-size: 25px;
  padding: 15px;
}

.price {
  color: grey;
  font-size: 20px;
  padding-bottom: 15px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.card button:hover {
  opacity: 0.7;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-top: 70px;
  margin-bottom: -30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}